[% IF job_id %]
<h1>Metagenomics Binning Report for [% job_id %]</h1>

<p><a href="https://docs.patricbrc.org//tutorial/metagenomic_binning/metagenomic_output.html#the-binning-output-directory">Tutorial for this page.</a></p>

<h2>Input data</h2>
<p>[% IF params.contigs %]
Contigs file [% params.contigs %]
[% ELSE %]
Reads files [% params.paired_end_libs.1 %] and [% params.paired_end_libs.2 %]
[% END %]
</p>
<h2>Generated bins</h2>
[% IF params.genome_group %]
<p>The bins from this run have been placed into the genome group <em>
[% IF genome_group_path %]
<a target="_blank" href="https://www.patricbrc.org/view/GenomeGroup[% genome_group_path %]#view_tab=genomes">[% params.genome_group %]</a>
[% ELSE %]
[% params.genome_group %]
[% END %]
</em>.</p>
[% END %]
<p>[% found.good %] good bins and [% found.bad %] bad bins were found out of [% found.total %].</p>

<p>The following bins met the quality criteria of completeness >= [% min_checkm %]%,
fine consistency >= [% min_scikit %]%, contamination <= [% max_contam %]%, and have
a single PheS protein of reasonable size:</p>

[% ELSE %]
<h1>Genome Quality Report</h1>

<p><a href="https://docs.patricbrc.org//tutorial/metagenomic_binning/metagenomic_output.html#the-binning-output-directory">Tutorial for this page.</a></p>

<p>[% found.good %] good genomes and [% found.bad %] bad genomes were found out of [% found.total %].</p>

<h2>Good Genomes</h2>

[% END %]
<table class='p3basic'>
[% PROCESS qual_headers %]
[% FOR g IN good %]
[% PROCESS qual_row %]
[% END %]
</table>

[% IF job_id %]
<P>
The following bins did not meet the quality criteria:</p>
[% ELSE %]
<h2>Other Genomes</h2>
[% END %]

<table class='p3basic'>
[% PROCESS qual_headers %]
[% FOR g IN bad %]
[% PROCESS qual_row %]
[% END %]
</table>

[% BLOCK qual_headers %]
<tr>
<th>Genome ID</th>
<th>Genome Name</th>
<th>Reference Genome</th>
<th>Coarse consistency (%)</th>
<th>Fine consistency (%)</th>
<th>Completeness (%)</th>
<th>Contamination (%)</th>
<th>Contig count</th>
<th>DNA size (bp)</th>
<th>Contigs N50 (bp)</th>
[% IF job_id %]
<th>Mean Coverage</th>
[% END %]
<th>Potentially Problematic Roles</th>
<th>Good PheS</th>
</tr>
[% END %]

[% BLOCK qual_row %]
<tr>
<td><a target="_blank" href="[% g.genome_url %]">[% g.genome_id %]</a></td>
<td>[% g.genome_name %]</td>
<td>
[% FOR r IN g.refs %]
<a target="_blank" href="[% r.url %]">[% r.genome %]</a><br />
[% END %]
</td>
<td>[% g.scikit_coarse %]</td>
<td [% g.scikit_color %]>[% g.scikit_fine %]</td>
<td [% g.completeness_color %]>[% g.checkg_completeness %]</td>
<td [% g.contamination_color %]>[% g.checkg_contamination %]</td>
<td>[% g.contigs %]</td>
<td>[% g.dna_bp %]</td>
<td>[% g.n50 %]</td>
[% IF job_id %]
<td>[% g.coverage %]</td>
[% END %]
<td><a href="[% g.report_url %]">[% g.ppr %] roles</a></td>
<td [% g.seed_color %]>[% g.good_seed %]</td>
</tr>
[% END %]